<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div>
    <table border = "10">
        <tbody>
        <th:block th:each="car : ${cars}">
            <tr>
                <td th:text="${car.model}"></td>
                <td th:text="${car.owner}"></td>
                <td th:text="${car.series}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>